---
import InlineBlock from "~/components/InlineBlock.astro";

interface Props {
	class?: string;
	multiline?: boolean;
}

const { class: className, multiline, ...props } = Astro.props;
---

<div class:list={["hero-locators", className]} {...props}>
	<InlineBlock class="date"
		>Thank you for joining us!{multiline ? "" : " ·"}</InlineBlock
	>
	<InlineBlock class="location">SquiggleConf returns Spring 2027</InlineBlock>
</div>

<style>
	.hero-locators {
		color: var(--colorAccentMedium);
		font-family: var(--fontFamilyHeading);
		font-size: var(--fontSizeMedium);
	}
</style>
