@layer past {
	:root {
		--colorCream: #edebe4;

		--colorBackdropLight: var(--colorCream);
		--colorBackdropOff: var(--colorWhiteIsh);
		--colorInverted: var(--colorCream);
		--colorForegroundBody: #203238;
		--colorSubtleLight: #a5e2fc;
		--colorSubtle: var(--colorSubtleLight);

		--fontSizeBody: 1.2rem;
		--fontSizeBodyLarge: 1.5rem;
		--fontSizeBodySmaller: 1rem;
		--fontSizeH2: clamp(1.75rem, 5vw, 2rem);
		--fontSizeH3: clamp(1.5rem, 3.5vw, 1.75rem);
		--fontSizeH4: clamp(1.15rem, 2.5vw, 1.35rem);

		--fontWeightBody: 300;

		--lineHeightBody: 1.4;

		--widthBodyFull: 70rem;
		--widthBodyLean: 50rem;
		--widthBodyPadding: clamp(1rem, 5vw, 2rem);
	}

	html.dark {
		--colorBackdropLight: var(--colorInverted);
		--colorBackdropOff: var(--colorSubtle);
		--colorForegroundBody: #d2ebf1;
		--colorInverted: #10141b;
		--colorSubtle: #062430;

		--lineHeightBody: 1.5;
	}
}
