---
import { socials } from "~/data/socials";

import SocialLink, { SocialLinkSize } from "./SocialLink.astro";

export type SocialsPadding = "dense" | "normal";

interface Props {
	class?: string;
	inverted?: boolean;
	padding?: SocialsPadding;
	size?: SocialLinkSize;
}

const {
	class: className,
	inverted,
	padding = "normal",
	size,
	...props
} = Astro.props;
---

<div
	class:list={[
		"socials",
		className,
		padding === "dense" ? "socials-dense" : "socials-normal",
	]}
	{...props}
>
	{
		socials.map((social) => (
			<SocialLink
				class="social-link"
				inverted={inverted}
				{...social}
				size={size}
			/>
		))
	}
</div>

<style>
	.socials {
		display: flex;
		flex-wrap: wrap;
	}

	.socials-dense {
		gap: 0.5rem;
	}

	.socials-normal {
		gap: 2rem;
	}

	@media (width >= 490px) {
		.socials {
			gap: 1rem;
		}
	}
</style>
