---
import { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export type SocialLinkSize = "small" | "normal" | "large";

interface Props {
	alt: string;
	class?: string;
	href: string;
	inverted?: boolean;
	size?: SocialLinkSize;
	src: ImageMetadata;
}

const {
	alt,
	class: className,
	inverted,
	href,
	size = "normal",
	src,
} = Astro.props;
---

<a
	class:list={["social-link", className, inverted && "social-link-inverted"]}
	href={href}
	target="_blank"
>
	<Image alt={alt} class:list={["social-image", size]} src={src} />
</a>

<style>
	.social-link {
		align-items: center;
		display: flex;
		gap: 0.5rem;
		flex-direction: row;
		text-decoration: none;
	}

	.social-image.small {
		--sizeSocialImage: 1.5rem;
	}

	.social-image.normal {
		--sizeSocialImage: 2rem;
	}

	.social-image.large {
		--sizeSocialImage: 4rem;
	}

	.social-image {
		height: var(--sizeSocialImage);
		width: var(--sizeSocialImage);
	}

	html:not(.dark) .social-link-inverted {
		filter: hue-rotate(180deg) invert();
	}
</style>
